/*
    Author: Ha Thanh Nguyen
    Created: 02/08/2024
    Description: admin account list style sheet
*/
#table_admin_account select{
    display: none;
}
#table_admin_account thead:nth-child(1), #table_admin_account tfoot{
    white-space: nowrap;
}
    .colum_action {
        width: 70px;
    }
.column_index {
    width: 50px;
    max-width: 50px;
}
.column_date {
    width: 175px;
    max-width: 175px;
}
.thumbnail{
    object-fit: cover;
}