/*
    Author: Ha Thanh Nguyen
    Created: 06/09/2024
    
*/
#tableData thead tr th:nth-child(1),
#tableData tbody tr td:nth-child(1),
#tableData tfoot tr th:nth-child(1) {
    width: 70px !important;
    text-align: center !important;
}

#tableData thead tr th:nth-child(4),
#tableData tbody tr td:nth-child(4),
#tableData tfoot tr th:nth-child(4) {
    width: 70px !important;
    text-align: center;
}

.search-control {
    white-space: normal;
    padding-right: 10px;
    padding-left: 10px;
}

#btnTableSearch {
    margin-right: 10px;
}

.input-group-text {
    cursor: pointer;
}

#tableData td {
    vertical-align: middle;
}
