/*
    Author: Ha Thanh Nguyen
    Created: 02/08/2024
    Description: role permission stylesheet
*/
#tbl_role_permission select {
    display: none;
}

#tbl_role_permission thead:nth-child(1) tr th, #tbl_role_permission tfoot tr th {
    white-space: nowrap;
}

.colum_action {
    width: 70px;
}

.column_index {
    width: 50px;
    max-width: 50px;
}

.column_date {
    width: 175px;
    max-width: 175px;
}

.thumbnail {
    object-fit: cover;
}
.search-control{
    display: flex;
    flex-direction: row;
}
#tbl_role_permission tbody tr td:last-child{
    padding-right: 0.75em;
}