#loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0 0 0 / 70%);
    visibility: hidden;
}

    #loading.show {
        visibility: visible;
    }
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid #2f57ef;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #2f57ef transparent transparent transparent;
    }

        .lds-ring div:nth-child(1) {
            animation-delay: -0.45s;
        }

        .lds-ring div:nth-child(2) {
            animation-delay: -0.3s;
        }

        .lds-ring div:nth-child(3) {
            animation-delay: -0.15s;
        }

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.screen {
    width: 100%;
}

.hide {
    display: none;
}

.big {
    display: block;
}

.small {
    display: none;
}
.modal-content {
    border-radius: 20px;
    border: 0px
}
.modal-header {
    justify-content: center;
    border-bottom: 0px;
}
.modal-body {
    border-bottom: 0px;
}
.modal-footer {
    border-top: 0px;
}

.banner {
    background-image: url('/happys/img/health-facilities/banner.png');
    background-color: var(--Blue-sky, #1470F5);
    height: 200px;
    /*    padding: 100px 0px 0px 32px;
    display: inline-block;*/
}

.image {
    margin-left: 40px;
    width: 330px;
    height: 391px;
}

    .image img {
        width: 330px;
        height: 400px;
        object-fit: cover;
        border-radius: 15px;
    }

.name {
    color: black;
    font-size: 32px;
    font-family: Lexend;
    font-weight: 700;
    margin-top: 32px;
    margin-bottom: 32px;
}

.input-time {
    background: #F7F7F9;
    border-radius: 5px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

.title {
    color: black;
    font-size: 16px;
    font-family: SF Pro Display;
    font-weight: 400;
    line-height: 20px;
    width: fit-content;
    margin-top: 6px;
}

.content {
    color: black;
    font-size: 16px;
    font-family: SF Pro Display;
    font-weight: 600;
    line-height: 20px;
}

.button {
    width: 100%;
    margin-top: 16px;
}

.btn-light {
    color: #1470F5 !important;
    border-color: #1470F5 !important;
    border-radius: 5px;
    color: #1470F5;
    font-size: 16px;
    font-family: SF Pro Display;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 20px;
}

    .btn-light:hover {
        border-color: #1470F5 !important;
        border-radius: 5px;
        background-color: #1470F5;
        color: white !important;
    }

.booking-user {
    width: 100%;
    display: flex;
}

.booking-detail {
    margin-left: 24px;
    width: 100%;
}

.booking-header {
    width: 100%;
}

.title-booking {
    color: black;
    font-size: 24px;
    font-family: SF Pro Display;
    font-weight: 600;
    margin-bottom: 32px;
}

.booking-body {
    padding: 32px;
    width: 100%;
    display: flex;
    /*gap: 20px;*/
    /*margin-top: 16px;*/
    flex-direction: column;
    border-radius: 15px;
    background-color: white;
}

.booking-col {
    display: flex;
    gap: 20px;
    width: 100%;
}

.input-booking {
    background: #F7F7F9;
    border-radius: 14px;
    width: 100%;
    padding: 14px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.time {
    display: flex;
    gap: 16px;
}

.time-select {
    margin-bottom: 8px;
}

.select-content {
    color: black;
    font-size: 16px;
    font-family: SF Pro Display;
    font-weight: 400;
    line-height: 20px;
    white-space: nowrap
}

.select-input {
    display: flex;
    gap: 4px;
    align-items: center;
}

.title-input {
    color: black;
    font-size: 14px;
    font-family: SF Pro Display;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 8px;
}

.columns {
    width: 50%
}

.input-booking {
    border: 0px !important;
}

.application {
    display: block;
}

.submit {
    display: flex;
    justify-content: center;
}

.doc_blog_grid_area sec_pad_happys {
    margin-bottom: 112px;
}

#time-pc {
    height: 56px;
}

#done, #accept {
    color: #11a111;
}

#cancel, #reject, #reason {
    color: #F04A7C;
}

#wait {
    color: #fb5401;
}

.detail-consultant {
    color: #F04A7C !important;
    text-decoration: underline;
}

.close-reason {
    background: #6c757d !important;
}
@media (max-width: 600px) {
    /*  .big {
        display: none;
    }

    .small {
        display: block;
    }*/
    .booking-user {
        flex-direction: column;
        /*padding: 15px;*/
    }

    .booking-col {
        display: flex;
        gap: 0px !important;
        width: 100%;
    }

    .banner {
        background-image: url('../../img/booking/banner-small.svg');
        height: 120px;
    }

    .booking-header {
        display: flex;
        margin-top: 0px;
        gap: 15px;
        border: 0px;
        justify-content: center
    }

    .accountName {
        text-align: center;
    }

    .image {
        width: 100%;
        height: auto;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .name {
        font-size: 20px;
        margin-bottom: 32px;
        margin-top: 16px;
        color: #1470F5;
        text-shadow: 0.5rem .5rem 1rem rgba(2,0,0,.25) !important;
    }

    .img img {
        width: 164px;
        height: 194px;
        object-fit: cover;
    }

    .input-time {
        justify-content: space-between;
        flex-direction: unset;
        align-items: center;
        margin-top: 16px;
        margin-bottom: 16px;
        margin-left: 16px;
    }

    .button {
        margin-bottom: 32px;
        width: 97%;
    }

    .title-booking {
        color: #1B1E28;
        font-size: 16px;
        font-family: SF Pro Display;
        font-weight: 600;
        line-height: 20px;
    }

    .booking-header .title-booking {
        margin-bottom: 8px;
    }

    .columns {
        width: 100%;
    }

    .input-booking {
        margin-bottom: 16px;
        width: 97%
    }

    .title-input {
        color: #7D848D;
        font-size: 14px;
        font-family: SF Pro Display;
        font-weight: 400;
        line-height: 20px;
    }

    .button {
        margin-top: 0px;
    }

    .accountName {
        width: 100%;
    }

    .submit {
        flex-direction: row;
    }

    .btn.btnHS2 {
        width: 100%;
    }

    .flex-mobile {
        flex-direction: column !important;
    }

    .booking-detail {
        margin-left: 0px
    }
    .columns .row {
        flex-direction: column;
    }
    .booking-body .title-booking {
        font-size: 22px;
    }
    .booking-col {
        flex-direction: column;
    }

    .booking-header {
        display: none !important;
    }

    .title-booking {
        font-size: 30px !important;
    }

    .title-input {
        font-size: 18px !important;
        padding-bottom: 5px;
    }

    .input-booking {
        font-size: 18px !important;
    }

    .select-content {
        font-size: 18px !important;
    }
}

@media (min-width: 601px) and (max-width: 992px) {
    /*.big {
        display: none;
    }

    .small {
        display: block;
    }*/

    .booking-col {
        display: flex;
        /*gap: 20px;*/
        width: 100%;
    }

    .booking-user {
        flex-direction: column;
        padding: 15px;
    }

    .banner {
        background-image: url('../../img/booking/banner-small.svg');
        height: 120px;
    }

    .booking-header {
        display: flex;
        margin-top: 0px;
        gap: 15px;
        border: 0px;
        justify-content: center
    }

    .accountName {
        text-align: center;
    }

    .image {
        width: 100%;
        height: auto;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .name {
        font-size: 20px;
        margin-bottom: 32px;
        margin-top: 16px;
        color: #1470F5;
        text-shadow: 0.5rem .5rem 1rem rgba(2,0,0,.25) !important;
    }

    .img img {
        width: 164px;
        height: 194px;
        object-fit: cover;
    }

    .input-time {
        justify-content: space-between;
        flex-direction: unset;
        align-items: center;
        margin-top: 16px;
        margin-bottom: 16px;
        margin-left: 16px;
    }

    .button {
        margin-bottom: 32px;
        width: 97%;
    }

    .title-booking {
        color: #1B1E28;
        font-size: 16px;
        font-family: SF Pro Display;
        font-weight: 600;
        line-height: 20px;
    }

    .booking-header .title-booking {
        margin-bottom: 8px;
    }

    .columns {
        width: 100%;
    }

    .input-booking {
        margin-bottom: 16px;
        width: 97%
    }

    .title-input {
        color: #7D848D;
        font-size: 14px;
        font-family: SF Pro Display;
        font-weight: 400;
        line-height: 20px;
    }

    .button {
        margin-top: 0px;
    }

    .accountName {
        width: 100%;
    }

    .submit {
        flex-direction: row;
    }

    .btn.btnHS2 {
        width: 100%;
    }

    .flex-mobile {
        flex-direction: column !important;
    }

    .booking-detail {
        margin-left: 0px
    }

    .columns .row {
        flex-direction: column;
    }

    .booking-body .title-booking {
        font-size: 22px;
    }

    .booking-col {
        flex-direction: column;
    }
}

@media (min-width: 993px) and (max-width: 1199px) {
    .select-content {
        font-size: 11px;
    }
}

@media (min-width: 320px) and (max-width: 404px) {
    .content {
        text-align: end;
    }
}
